@font-face { font-family: Skranji; src: url('../fonts/Skranji-Bold.ttf'); } 


body {
    background-image: url("../images/fondo_2.jpg");
	background-repeat: repeat;
	background-color: #bddfec;
    /*font-family: 'roboto';*/
    font-family: "Skranji";
}

/* boton jugar indice */

#juego{
    margin-top: 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    height: 53px;
}

#juego:hover{
    font-size: 28px;
}

#content-juego{
    display: none;
}

#contingut_home{
  margin-top: 50px;
}

.navbar-header a img{
    height: 45px;
}

.navbar-brand{
	padding: 4px 18px 4px 18px;
	height: 45px;
}

.navbar-default{
	background-color: #368844;
	border-color: #368844;
}

.navbar-default .navbar-nav > li > a{
    color: white;
}

.navbar-default .navbar-nav > li > a:hover{
    color: white;
}

.navbar-nav > li > .dropdown-menu{
    background-color: #568836;
}

.dropdown-menu > li > a{
    color: white;
}

.dropdown-menu > li > a:hover{
    color: white;
}

.dropdown-menu .divider{
    background-color: white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	background-color: #205f2a;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	background-color: #205f2a;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
background-color: #205f2a;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
	background-color: #205f2a;
}

/*FOOTER*/

.footer-bs {
    background-color: #3c3d41;
	padding: 30px 40px;
	margin-top: 50px;
	color: rgba(255,255,255,1.00);
	position: absolute;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}

.video{
	text-align: center;
	width: 100%;
}

.video iframe{
	margin: 0 auto;
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 50px;
}

.btn-default{
	background-color: #368844;
	border-color: #368844;
}

.btn-default:hover{
	background-color: #205f2a;
	border-color: #205f2a;
}

.form-registre{
    margin-top: 80px;
}

.contingut{
    background-color: aliceblue;
    border-radius: 20px;
    border: 13px solid green;
}


/* cambiar formato de error*/
input.error{
	background-color:rgb(255, 223, 137);
}

.error{
	color: #ED2B05;
  font-size:0.8em;
}


/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/
/************************PAGE MASTER Juego CSS****************************/
/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/
/****************************************************/

canvas{
    overflow: hidden;
}

.pop{
    width: 80%; 
}

.pop_content{
    height: 500px; 
}

.border{
    border-radius: 10px; 
}


/* BOTONES */


.boton{
    background-image: -moz-linear-gradient( 90deg, rgb(253,168,26) 0%, rgb(254,200,61) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(253,168,26) 0%, rgb(254,200,61) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(253,168,26) 0%, rgb(254,200,61) 100%);
    padding-top: 7px;
    width: 212px;
    height: 49px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(180,97,0,0.88);
    -moz-box-shadow: 2px 2px 2px 1px rgba(180,97,0,0.88);
    box-shadow: 2px 2px 2px 1px rgba(180,97,0,0.88);
    margin-top: 20px;  
}

.btn-recurso{
    width: 150px;
    height: 33px;
    padding-top: 4px;
}

.boton_gui{
    background-image: -moz-linear-gradient( 90deg, rgb(253,168,26) 0%, rgb(254,200,61) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(253,168,26) 0%, rgb(254,200,61) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(253,168,26) 0%, rgb(254,200,61) 100%);
    padding: 7px 15px 7px 15px;
    height: 49px;
    border-radius: 10px;
    border: none;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(180,97,0,0.88);
    -moz-box-shadow: 2px 2px 2px 1px rgba(180,97,0,0.88);
    box-shadow: 2px 2px 2px 1px rgba(180,97,0,0.88);
}

.boton_gui:hover , #btn-sound:hover, #btn_desplegar:hover, #btn_plegar:hover{
    background-image: none;
    box-shadow: none;
    background-color: #fdab1d;
}


#btn-social{
    cursor: pointer;
    position: absolute;
    left: 89%;
    top: 79%;
    background-image: -moz-linear-gradient( 90deg, rgb(0,181,22) 0%, rgb(124,225,108) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(0,181,22) 0%, rgb(124,225,108) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(0,181,22) 0%, rgb(124,225,108) 100%);
    padding: 7px 10px 7px 10px;
    height: 70px;
    border-radius: 50px;
    border: none;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(4,135,15,0.88);
    -moz-box-shadow: 2px 2px 2px 1px rgba(4,135,15,0.88);
    box-shadow: 2px 2px 2px 1px rgba(4,135,15,0.88);
    margin-top: 50px;
    margin-left: 50px;
}

#btn-social img{
    width: 50px;
}

#btn-social:hover{
    background-image: none;
    box-shadow: none;
    background-color: #00bb22;
}


#btn-sound{
    background-image: -moz-linear-gradient( 90deg, rgb(253,168,26) 0%, rgb(254,200,61) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(253,168,26) 0%, rgb(254,200,61) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(253,168,26) 0%, rgb(254,200,61) 100%);
    padding: 0px 10px 0px 10px;
    height: 38px;
    border-radius: 50px;
    border: none;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(180,97,0,0.88);
    -moz-box-shadow: 2px 2px 2px 1px rgba(180,97,0,0.88);
    box-shadow: 2px 2px 2px 1px rgba(180,97,0,0.88);
    cursor: pointer;
    position: absolute;
    left: 95%;
    top: 34%;
}

#btn-sound img{
    width: 20px;
}


#btn-tienda{
    cursor: pointer;
    position: absolute;
    left: 20%;
    top: 90%;
}


#btn-expediciones{
    cursor: pointer;
    position: absolute;
    left: 3%;
    top: 90%;
}


#recursos{
    margin-top: 10px;
    position: absolute;
    left: 88%;
}

.recurs{
    height: 45px;
    margin-top: 7px;
    cursor: pointer;
}

.recursos:hover{
    opacity: 0.8;
}

#user{
    position: absolute;
    top: 4%;
    left: 3%;
}

#user img{
    height: 70px;
}

#img_perfil{
    border-radius: 100%;
    background-image: url(../images/foto_perfil.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: 0%;
    left: 0%;
    cursor: pointer;
    width: 70px;
    height: 70px;
    z-index: 7;
    box-shadow: 3px 2px 12px 0px rgb( 0, 1, 2 );
}

#progress_exp{
    border-radius: 20px;
    background-color: #a48ad4;
    box-shadow: 3px 2px 12px 0px rgb( 0, 1, 2 );
    position: absolute;
    cursor: pointer;
    width: 150px;
    height: 30px;
    left: 20%;
    top: 30%;
    z-index: 6;
}

/********* MODALS NORMALS *************/

.modal-content{
    background-color: #f5e3aa;
    border-radius: 20px;
    border: 5px solid #d2a169;
}

.modal-header{
    border: none;
    margin-bottom: 40px;
}

@media (min-width: 768px){
    .modal-dialog {
        width: 800px;
        margin: 100px auto;
    }
}

.modal-header img{
    display: block;
    margin: 0 auto;
    margin-top: -73px;
}

.modal-desc{
    background-color: #deb477;
    border: 3px solid white;
    border-radius: 10px;
    text-align: justify;
    margin-bottom: 20px;
}

.modal-desc p{
    margin: 15px;
}

.modal-img-edif{
    border: 3px solid white;
    border-radius: 10px;
}

.modal h2 {
    color: white;
    text-align: center;
    padding-top: 9px;
    margin-top: -98px;
}





.header_modal{
    background-color: #a48ad4;
    height: 40px;
    width: 20%;
    border-radius: 30px;
    margin-left: 40%;
}

.header_modal h2{
    color: white;
    text-align: center;
    margin-top: -86px;
}

#contingut_modal{
    background-color: #f4f4f4;
    border-radius: 10px;
    margin-top:  20px;
    height: 86%;
}

.modal-body{
    padding: 0 25px;
}

/********* MODALS EDIFICI ***************/

.header_modal_edifici{
    background-color: #a48ad4;
    height: 40px;
    width: 60%;
    border-radius: 30px;
    margin-left: 20%;
}

.header_modal_edifici h2{
    color: white;
    text-align: center;
    padding-top: 9px;
}

.descripcio_modal_edifici{
    color: white;
}

.btn_modal_edifici{
    background-color: #4285f4;
    border-radius: 20px;
    color: white;
    padding-left: 20px!important;
    padding-right: 20px!important;
}

.close{
    color: white;
    opacity: 0.7;
}

.close:hover{
    color: white;
    opacity: 1;
}

/************SIDEBAR********************/

#sidebar{
    background-color: #8ad3e6;
    height: 100%;
    z-index: 2;
    margin-left: -16.666666667%;
    position: absolute;
}

#btn_desplegar{
     background-image: -moz-linear-gradient( 90deg, rgb(253,168,26) 0%, rgb(254,200,61) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(253,168,26) 0%, rgb(254,200,61) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(253,168,26) 0%, rgb(254,200,61) 100%);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(180,97,0,0.88);
    -moz-box-shadow: 2px 2px 2px 1px rgba(180,97,0,0.88);
    box-shadow: 2px 2px 2px 1px rgba(180,97,0,0.88);
    position: absolute;
    top: 40%;
    z-index: -2;
    left: 97%;
    height: 44px;
}

#btn_plegar{
     background-image: -moz-linear-gradient( 90deg, rgb(253,168,26) 0%, rgb(254,200,61) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(253,168,26) 0%, rgb(254,200,61) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(253,168,26) 0%, rgb(254,200,61) 100%);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(180,97,0,0.88);
    -moz-box-shadow: 2px 2px 2px 1px rgba(180,97,0,0.88);
    box-shadow: 2px 2px 2px 1px rgba(180,97,0,0.88);
    display: none;
    position: absolute;
    top: 40%;
    z-index: -2;
    left: 97%;
    height: 44px;
}

.sidebar1 {
    background: #F17153;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#008868, #01a982);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#008868, #01a982);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#008868, #01a982);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#008868, #01a982);
    /* Standard syntax */
    padding: 0px;
    min-height: 100%;
}

.sombra_sidebar{
    -webkit-box-shadow: 9px 2px 8px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 2px 8px -4px rgba(0,0,0,0.75);
    box-shadow: 9px 2px 8px -4px rgba(0,0,0,0.75);
}
/*.logo {
max-height: 130px;
}
.logo>img {
margin-top: 30px;
padding: 3px;
border: 3px solid white;
border-radius: 100%;
}*/
.list {
    color: #fff;
    list-style: none;
    padding-left: 0px;
}

.list> li, h5 {
    padding: 5px 0px 5px 40px;
    cursor: pointer;
}
.list>li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid white;
    color: white;
    padding-left: 35px;
}

.log-out{
    color: white;
    text-decoration: none;
}

.log-out:hover{
    text-decoration: none;
    color: white;
}

.main-content{
    text-align:center;
}

/*-------------IMATGE PERFIL-----------------------*/
.profile-header-container{
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    padding: 54px;
    padding-bottom: 20px;
}

.profile-header-img > img.img-circle {
    width: 120px;
    height: 120px;
    border: 2px solid #51D2B7;
}

.profile-header {
    margin-top: 43px;
}

/*******************Recursos e icono de perfil de usuario***********************/

#divRecursos{
    position:absolute;
    left:87%;
}

#divUsuario{
    position:absolute;
    right:81%;
}

.dinobuton-text {
    margin-bottom: 0px;
    font-size: 21px;
    font-family: "Skranji";
    color: rgb( 255, 255, 255 );
    font-weight: bold;
    text-shadow: 1px 2px 3px rgb( 0, 0, 0 )
}

.recurso-text{
    font-size: 18px;
}

.container-recurso{
    display: block;
    margin-left: 62px;
    background-image: -moz-linear-gradient( 90deg, rgb(126,72,20) 0%, rgb(169,118,58) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(126,72,20) 0%, rgb(169,118,58) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(126,72,20) 0%, rgb(169,118,58) 100%);
    border-radius: 7px;
    width: 72px;
    height: 25px;
}

.container-username{
    padding-top: 3px;
    text-align: center;
    display: block;
    margin-left: 62px;
    background-image: -moz-linear-gradient( 90deg, rgb(126,72,20) 0%, rgb(169,118,58) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(126,72,20) 0%, rgb(169,118,58) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(126,72,20) 0%, rgb(169,118,58) 100%);
    border-radius: 10px;
    width: 153px;
    height: 35px;
}

.recurso-plus{
   display: block;
    position: relative;
    left: 48%;
    float: left;
    height: 25px;
}

.recurso-plus:hover{
    opacity: 0.7;
    cursor: pointer;
}

.user-img{
    float: left;
    margin-top: -17px;
    margin-left: -10px;
}

.recurso-img{
    float: left;
    height: 45px;
    margin-top: -10px;
    margin-left: 8px;
}
/***********************************************************************/
/********* MODALS GRANS *************/

.pop_gran {
    width: 80%;
}

.content_gran {
    height: 550px;
}

.header_gran {
    background-color: #a48ad4;
    height: 40px;
    width: 20%;
    border-radius: 30px;
    margin-left: 40%;
}


/********** MODALS PETITS ***********/

#contingut_modal {
    background-color: #3e8c42;
    border-radius: 10px;
    margin-top: 20px;
    height: 86%;
}

.modal-body {
    padding: 0 25px;
}

.header_petit {
    background-color: #a48ad4;
    height: 40px;
    width: 60%;
    border-radius: 30px;
    margin-left: 20%;
}


/********** COMU PER TOTS ELS MODALS */


.info_edifici {
    height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
}

.img_edifici {
    width: 100%;
    height: 200px;
}

.descripcio {
    color: white;
    text-align: justify;
}

.btn_modal {
    background-color: #4285f4;
    border-radius: 20px;
    color: white;
    padding-left: 20px!important;
    padding-right: 20px!important;
}

.close {
    color: white;
    opacity: 0.7;
}

.close:hover {
    color: white;
    opacity: 1;
}


/* POP CUARTEL GENERAL */

.img_admin {
    width: 80%;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 25px;
    
    right: 10px;
}

.btn_construir {
    display: block;
    margin: auto;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* POP EXPEDICIONES */
/*
#modal_expe{
    
    border-radius: 10px;
    margin-top: 20px;
    height: 100%;
    
}*/

.img_tropa {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    
}


.lista{
    margin-bottom: 15px;
    margin-top: 0px;
    border-radius: 5px;
    border-style: outset;
    background-color: orange; 
    margin-top: 5px;
    text-align: center;
}

.btn_expe {
    display: block;
    margin: 0 auto;
    background-color: orange;
    border-radius: 20px;
    color: black;  
    font-weight: bold;
    margin-top: 5px;   
    padding-left: 20px!important;
    padding-right: 20px!important;
}

/*.btn_expe_suma_resta {
    background-color: orange;
    border-radius: 20px;
    color: black;  
    font-weight: bold;
    margin-top: 5px;    
    /* Falta fer que es centri tot el DIV d'alguna manera!!*/
}

/* POP HABITATS */

/* POP LABORATORIO */

.img_lab {
    width: 80%;
    height: 150px;
    margin-top: 60px;
    margin-bottom: 10px;
    
    right: 10px;
}

