<template name="header">
   <header>
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="{{pathFor 'principal'}}" id="home"><img alt="Brand" src="images/logo.png" /></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li id="select_idioma"> {{> i18n_dropdown}} </li>
                    <li><a href="{{pathFor 'principal'}}" role="button" id="home"><span class="glyphicon glyphicon-home"></span>&nbsp;{{_ "home"}}</a></li>
                    <li><a href="{{pathFor 'proyecto'}}" role="button" id="proyecto"><span class="glyphicon glyphicon-th"></span>&nbsp;{{_ "project"}}</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;{{_ "comunity"}}</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-cog"></span>&nbsp;{{_ "help"}}</a></li>
                    <li><a id="contacto" href="#">{{_ "contact"}}</a></li> {{#if currentUser}}
                    <!--<li><a href="{{pathFor 'game'}}" role="button" id="juego"><span class="glyphicon glyphicon-off"></span>&nbsp;{{_ "game"}} <span class="sr-only">(current)</span></a></li>-->

                    
                    <li class="dropdown"> <a href="#" id="name_user" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span>&nbsp;{{_ "user"}}: {{currentUser.username}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">{{_ "eprof"}}</a></li>
                            <li><a href="#">{{_ "message"}}</a></li>
                            <li><a href="#">{{_ "notifies"}}</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{pathFor 'principal'}}" id="logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;{{_ "logout"}}</a></li>
                        </ul>
                    </li> {{/if}}
                    
                    <!--
<li>
{{> i18n_buttons}}

</li>
-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    </header>
</template>