<template name="register">
	<div class="modal fade">
		<div class="modal-dialog modal-sm" >
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" name="button"><span aria-hidden="true">&times;</span></button>
				</div>
        		<div class="modal-body text-center" style="border-radius:100px;">
        			<div class="panel panel-default">
        				<div class="panel-heading">
        					<h3 class="panel title">
        						{{_ "regis"}}
        					</h3>
        				</div>
        				<div class="panel-body ">
        					<form role="form" id="register-form" method="post" class="form-horizontal">

									<div class="form-group">
										<label for="regnombre" class=" col-sm-1 control-label">{{_ "user"}}</label>
										<div class="col-sm-offset-2 col-sm-8">
											<input type="text" class="form-control"  name="regnombre" id="regnombre" placeholder="{{_ 'user'}}" required/>
										</div>
									</div>


									<div class="form-group">
										<label for="regmail" class=" col-sm-1 control-label">{{_ "email"}}</label>
								    <div class="col-sm-offset-2 col-sm-8">
								      <input type="email" class="form-control"  name="regmail" id="regmail" placeholder="{{_ 'email'}}" required adress/>
								    </div>
									</div>

									<div class="form-group">
										<label for="regpass1" class=" col-sm-1 control-label">{{_ "contra"}}</label>
										<div class="col-sm-offset-2 col-sm-8">
											<input type="password" class="form-control" name="regclave1" placeholder="{{_ 'contra'}}" id="regpass1" required/>
										</div>
									</div>

									<div class="form-group">
										<label for="regpass1" class=" col-sm-1 control-label">{{_ "contra"}}</label>
										<div class="col-sm-offset-2 col-sm-8">
											<input type="password" class="form-control" name="regclave2" placeholder="{{_ 'contra'}}" id="regpass2" required/>
										</div>
									</div>


        					<br>
                  <label>
                      <input type="checkbox" name="terminos" id="regterminos" value="" required/> {{_ "terminos"}}

                  </label>
                  <!--<label for="terminos">Acepto los términos y condiciones<input id="terminos" name="terminos" value="1" type="checkbox"></label> -->
                  <br>

                          <!--boton crear cuenta!!!!-->
        					<input type="submit" id="create-account" class="btn btn-default btn-primary" value="{{_ 'crear'}}"/>
        					<br>
        					<br>


        					</form>
        					<br>
                           <!--boton reset formulario!!!!-->
        					<a href="#" datta-toggle="modal" id="reglogin"> {{_ "pregunta4"}}</a>
        				</div>
        			</div>
				</div>
			</div>
		</div>
	</div>
</template>
