<template name="HomeLogin">
    <div  id="" class="container-fluid">
           <div id="contingut_home" class="contingut col-sm-8 col-sm-offset-2">
            <div class="row">

                {{#if currentUser}}
                <div class="col-sm-12">
                    {{> video}}
                </div>

                {{else}}
                <div class="form-registre col-sm-4 text-center">
                    <form role="form" id="login-form" method="post">
                                 <div class="form-group">
                                    <label>Nombre de usuario</label>
                                    <input type="text" class="form-control" name="lognombre" placeholder="usuario" id="lognombre" required/>
                                </div>

                                <div class="form-group">
                                    <label>Contraseña</label>
                                    <input type="password" class="form-control" name="logclave" placeholder="password" id="logpass1" required/>
                                </div>
                                <br>

                                <input type="submit" id="login-account" class="btn btn-default btn-primary" value="Login cuenta"/>

                                <br>



                            </form>
                            <br>
                            <a href="#" datta-toggle="modal" id="logreg"> ¿Aún no tienes cuenta?</a>
                            <br>
                            <br>
                            <a href="#" datta-toggle="modal" id="logolvid"> ¿Olvidaste la contraseña?</a>
                </div>

                <div class="col-sm-8">

                        {{> video}}
                </div>
                {{/if}}



    </div>
    </div><!-- fi #contingut-->
</div>


</template>
