<template name="video">
	<div class="video">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/clLc5NJfdio"    frameborder="0" allowfullscreen></iframe>
    </div>

    <h3>
        Notícias
    </h3>
    <blockquote>
        <p>
            Versión 1.0: Hemos añadido la funcionalidad de los huevos.
        </p> <small>Daniel Sánchez <cite>Web Programmer</cite></small>
    </blockquote>
    <blockquote>
        <p>
            Versión 1.1: Se incluye la función de comprar ítems en la tienda.
        </p> <small>Adrián Guillén <cite>Web Programmer</cite></small>
    </blockquote>

	
</template>