<template name="dinoGame">
<div id="content-juego">
	<div id="sidebar" class="col-sm-2 sidebar1">
    <img id="btn_desplegar" src="images/ui/desplegar.png">
    <img id="btn_plegar" src="images/ui/plegar.png">
  
    <div class="profile-header-container">   
        <div class="profile-header-img">
            <img class="img-circle" src="images/foto_perfil.jpg">
            <!-- cercle voltant -->
            <div class="rank-label-container">
                <span class="label label-default rank-label">Usuario 1</span>
            </div>
        </div>
        <div class="progress">
            <div data-percentage="0%" style="width: 20%;" class="progress-bar progress-bar-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <p class="coins">nivel 8 - 856/900 exp</p>
        <br>
        <div class="coins">
            <i class="ionicons ion-egg"></i>
        </div>
        <p class="coins">2,342</p>
    

    </div> 
    <br>

    <div>
        <div class="left-navigation">
            <ul class="list">
                <li><i class="ionicons ion-ios-person"></i>  Mi muro</li>
                <li><i class="ionicons ion-ios-search-strong"></i>  Expediciones</li>
                <li><i class="fa fa-envelope-o"></i> Mensajes</li>
                <li><i class="fa fa-shopping-cart"></i> Tienda</li>
                <li><i class="fa fa-bar-chart"></i> Logros</li>
                <li><a href="{{pathFor 'principal'}}" role="button" id="home" class="log-out"><span class="glyphicon glyphicon-home"></span>&nbsp;Salir</a><i class="ionicons ion-log-out"></i></li>
            </ul>
        </div>
    </div>
</div>

<!-- Botons -->

<button id="btn-tienda" class="boton_gui" data-target="#pop_tienda" data-toggle="modal">
        <p class="dinobuton-text">Tienda</p>
</button>

<button id="btn-expediciones" data-target="#pop_expediciones" data-toggle="modal" class="boton_gui">
        <p class="dinobuton-text">Expediciones</p>
</button>

<button id="btn-social" data-target="#pop_social" data-toggle="modal">
        <img class="btn-icon" src="images/ui/icon-social.png">
</button>

<button id="btn-sound">
        <img class="btn-icon" src="images/ui/sound.png">
</button>



<!-- Recursos -->
       
      
       {{#each partida}}
        
<div id="divRecursos">
           <!--dinero-->
        <div class="boton btn-recurso">
            <div class="row">
                <img class="recurso-img" src="images/coin.png">
                <img class="recurso-plus" src="images/plus.png">
            <div class="container-recurso">
                <p class="dinobuton-text">{{confi_dinero dinero}}</p>
               <!--p class="dinobuton-text recurso-text">{{dinero}}</p>-->

            </div>
        </div>
        </div>
        
        <!--energia-->
    
        <div class="boton btn-recurso">
            <div class="row">
                <img class="recurso-img" src="images/coin.png">
                <img class="recurso-plus" src="images/plus.png">
            <div class="container-recurso">
                <p class="dinobuton-text recurso-text">{{energia}}</p>
            </div>
        </div>
        </div>

        <!--suministros-->
        
        <div class="boton btn-recurso">
            <div class="row">
                <img class="recurso-img" src="images/coin.png">
                <img class="recurso-plus" src="images/plus.png">
            <div class="container-recurso">

                <p class="dinobuton-text">{{confi_dinero suministros}}</p>

                <!--<p class="dinobuton-text recurso-text">{{suministros}}</p-->
            </div>
        </div>
        </div>
        
        <!--visitantes-->
        
        <div class="boton btn-recurso">
            <div class="row">
                <img class="recurso-img" src="images/coin.png">
                <img class="recurso-plus" src="images/plus.png">
            <div class="container-recurso recurso-text">
                <p class="dinobuton-text recurso-text">{{visitantes}}</p>
            </div>
        </div>
        </div>

</div>
{{/each}}
<!-- Usari -->
   <div id="divUsuario">
           <div class="boton">
        <div class="row">
            <img class="user-img" src="images/user-profile.png">
            <div class="container-username">
                <p class="dinobuton-text">{{currentUser.username}}</p>
            </div>
        </div>
    </div>
   </div>

 



<!-- POP EDIFICI -->

<div tabindex="-1" class="modal fade" id="pop_edifici" style="display: none;" aria-hidden="true">
	<div class="modal-dialog">    
		<div class="modal-content">
			<div class="modal-header">
            
            {{#each edificios}}
                
				<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
				<div class="header_modal_edifici">
                    <h2 id="nom_edifici">{{nom}}</h2>
                </div>  
            {{/each}}
			</div>
            {{#each edificios}}
			<div class="pmd-modal-media"> <img width="1184" height="666" class="img-responsive imagenedi" src={{avatar}}> </div>
            {{/each}}
			<div class="modal-body">
            {{#each edificios}}
			 <p class="descripcio_modal_edifici">{{descripcion}}</p> 
             {{/each}}
			</div>
			<div class="pmd-modal-action">
			    <button id="subirlvl" type="button" class="btn pmd-ripple-effect btn-default btn_modal_edifici">SUBIR NIVEL
			    </button>			
			</div>           
		</div>
	</div>
</div>

    <!-- POP EXPEDICIONES -->   
    <div tabindex="-1" class="modal fade" id="pop_expediciones" style="display: none;" aria-hidden="true">
        <div class="modal-dialog pop_gran">
            <div class="modal-content border">
                <div class="modal-body content_gran">
                    <div class="header_gran">
                        <h2>EXPEDICIONES</h2>
                    </div>

                    <div id="modal_expe">
                        <div class="col-sm-12">
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm-2 col-sm-offset-3">
                                        <img src="images/lider1.png" class="img_tropa">
                                        <button type="button" class="btn pmd-ripple-effect btn-default btn_expe">Comandante
                                        </button>
                                    </div> 
                                    <div class="col-sm-2">
                                        <img src="images/lider1.png" class="img_tropa">
                                        <button type="button" class="btn pmd-ripple-effect btn-default btn_expe">Explorador
                                        </button>
                                    </div> 
                                    <div class="col-sm-2">
                                        <img src="images/lider1.png" class="img_tropa">
                                        <button type="button" class="btn pmd-ripple-effect btn-default btn_expe">CIENTÍFICA
                                        </button>
                                    </div> 
                                </div>
                                <div class="row">
                                     <div class="col-sm-12">
                                <div class="col-sm-2 col-sm-offset-1">
                                    <img src="images/lider1.png" class="img_tropa">
                                    <button type="button" class="btn-default btn_expe_suma_resta">+</button>
                                    <button type="button" class="btn-default btn_expe_suma_resta">-</button>
                                    
                                </div>
                                <div class="col-sm-2">
                                    <img src="images/lider1.png" class="img_tropa">
                                    <button type="button" class="btn-default btn_expe_suma_resta">+</button>
                                    <button type="button" class="btn-default btn_expe_suma_resta">-</button>                                    
                                </div>
                                <div class="col-sm-2">
                                    <img src="images/lider1.png" class="img_tropa">
                                    <button type="button" class="btn-default btn_expe_suma_resta">+</button>
                                    <button type="button" class="btn-default btn_expe_suma_resta">-</button>                                
                                </div>
                                <div class="col-sm-2">
                                    <img src="images/lider1.png" class="img_tropa">
                                    <button type="button" class="btn-default btn_expe_suma_resta">+</button>
                                    <button type="button" class="btn-default btn_expe_suma_resta">-</button>                                  
                                </div>
                                <div class="col-sm-2">
                                    <img src="images/lider1.png" class="img_tropa">
                                    <button type="button" class="btn-default btn_expe_suma_resta">+</button>
                                    <button type="button" class="btn-default btn_expe_suma_resta">-</button>                                   
                                </div>
                            </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2 col-sm-offset-3">
                                        <img src="images/lider1.png" class="img_tropa">
                                        <button type="button" class="btn pmd-ripple-effect btn-default btn_expe">Bosque
                                        </button>                                 
                            </div>
                            <div class="col-sm-2">
                                <img src="images/lider1.png" class="img_tropa">
                                <button type="button" class="btn pmd-ripple-effect btn-default btn_expe">Montañas
                                </button>                               
                            </div>
                            <div class="col-sm-2">
                                <img src="images/lider1.png" class="img_tropa">
                                <button type="button" class="btn pmd-ripple-effect btn-default btn_expe">Costa
                                </button>                                
                            </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="row">
                                    <div class="lista">
                                        <h1>LIDER</h1>
                                        <p>Comandante</p>
                                    </div>
                                    <div class="lista">
                                        <h1>TROPAS</h1>
                                        <ul>
                                            <li>5x Soldados con rifle sonico</li>
                                            <li>2x Soldados con lanzaredes</li>
                                            <li>1x Jeep de exploracion</li>
                                            <li>0x Soldados con exotraje</li>
                                            <li>0x Médicos de campo</li>
                                        </ul>
                                    </div>
                                    <div class="lista">
                                        <h1>DESTINO</h1>
                                        <p>Colinas</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <button type="button" class="btn pmd-ripple-effect btn-default btn_modal">ENVIAR EXPEDICION
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        

<!-- POP HABITATS -->
    
     <div tabindex="-1" class="modal fade" id="pop_habitats" style="display: none;" aria-hidden="true">
        <div class="modal-dialog pop_gran">
            <div class="modal-content border">
                <div class="modal-body content_gran">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    {{ #each edificios }}
                    <div class="header_gran">
                        <h2>{{ nom }}</h2>
                    </div>
                    {{ /each }}
                    <div id="contingut_modal">
                         <div class="row info_edifici">
                            <div class="col-sm-6 col-sm-offset-3">
                            {{ #each edificios }}
                                <p class="descripcio">{{ descripcion }}</p>
                                <button type="button" class="btn pmd-ripple-effect btn-default btn_modal">SUBIR NIVEL
                            </button>
                            {{ /each }}
                            </div>
                        </div>
                        
                        
                        
                        <div class="row">
                            <div class="col-sm-4">
                                <img src="images/38707274-Edificio-de-la-escuela-y-rea-de-juegos-Foto-de-archivo.jpg" class="img-responsive img_edifici">
                                <div class="header_gran">
                                    <h1>Bosques</h1>
                                </div>
                                <p>En este habitat podras tener controlados a tus raptores y T-rex.</p>
                                 <div class="header_gran">
                                    <h1>0/10</h1>
                                </div>
                                <button type="button" class="btn pmd-ripple-effect btn-default btn_modal">SUBIR NIVEL
                                </button>
                            </div> 
                            <div class="col-sm-4">
                                <img src="images/38707274-Edificio-de-la-escuela-y-rea-de-juegos-Foto-de-archivo.jpg" class="img-responsive img_edifici">
                                <div class="header_gran">
                                    <h1>Bosques</h1>
                                </div>
                                <p>En este habitat podras tener controlados a tus raptores y T-rex.</p>
                                <div class="header_gran">
                                    <h1>0/10</h1>
                                </div>
                                <button type="button" class="btn pmd-ripple-effect btn-default btn_modal">SUBIR NIVEL
                                </button>
                            </div> 
                            <div class="col-sm-4">
                                <img src="images/38707274-Edificio-de-la-escuela-y-rea-de-juegos-Foto-de-archivo.jpg" class="img-responsive img_edifici">
                                <div class="header_gran">
                                    <h1>Bosques</h1>
                                </div>
                                <p>En este habitat podras tener controlados a tus raptores y T-rex.</p>
                                 <div class="header_gran">
                                    <h1>0/10</h1>
                                </div>
                                <button type="button" class="btn pmd-ripple-effect btn-default btn_modal">SUBIR NIVEL
                                </button>
                            </div> 
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <!-- POP TIENDA -->
    <div tabindex="-1" class="modal fade" id="pop_tienda" style="display: none;" aria-hidden="true">
        <div class="modal-dialog pop_gran">
            <div class="modal-content border">
                <div class="modal-body content_gran">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <div class="header_gran">
                        <h2>TIENDA</h2>
                    </div>
                    {{#each partida}}
                    <div id="contingut_modal">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>Dinero</h2>
                                <div class="col-sm-12">
                                    <div style="text-align: center">
                                        <img src="images/coin.png" style="width: 100px">
                                    <div>
                                        <label id="tienesDinero" class="label label-info center-block" style="font-size: 1.2em; display: block; width: 200px"><img src="images/coin.png" style="width: 30px"><span> Dinero: {{dinero}}</span></label>

                                        <label id="pierdesDinero" class="label label-danger center-block" style="font-size: 1.2em; display: none; width: 200px"><img src="images/coin.png" style="width: 30px"><span>Pierdes:</span></label>
                                        <label id="teQuedaDinero" class="label label-danger center-block" style="font-size: 1.2em; display: none; width: 200px"><img src="images/coin.png" style="width: 30px"><span>Te queda:</span> </label>
                                        <label id="ganasSuministros" class="label label-danger center-block" style="font-size: 1.2em; display: none; width: 200px"><img src="images/carne.png" style="width: 30px"><span>Ganas:</span></label>
                                        <label id="teQuedaSuministros" class="label label-danger center-block" style="font-size: 1.2em; display: none; width: 200px"><img src="images/carne.png" style="width: 30px"><span>Te quedan:</span></label>

                                    </div>
                                        <div>
                                            <input id="dinero" type="text" class="form-control center-block" style="width: 200px">
                                            <br>
                                            <button id="camDinero" class="btn btn-info">Cambiar</button>
                                            <button id="conDinero" class="btn btn-info" style="display: none;">Confirmar</button>
                                            <button id="cancelDinero" class="btn btn-danger" style="display: none;">Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <h2>Suministros</h2>
                                <div class="col-sm-12" >
                                    <div style="text-align: center">
                                        <img src="images/carne.png" style="width: 100px">
                                    <div>
                                        <label id="tienesSuministros" class="label label-info center-block" style="font-size: 1.2em; display: block; width: 200px"><img src="images/carne.png" style="width: 30px"><span> Suministros: {{suministros}}</span></label>

                                        <label id="pierdesSuministros" class="label label-danger center-block" style="font-size: 1.2em; display: none; width: 200px"><img src="images/carne.png" style="width: 30px"><span>Pierdes:</span></label>
                                        <label id="QuedaSuministros" class="label label-danger center-block" style="font-size: 1.2em; display: none; width: 200px"><img src="images/carne.png" style="width: 30px"><span>Te queda:</span> </label>
                                        <label id="ganasDinero" class="label label-danger center-block" style="font-size: 1.2em; display: none; width: 200px"><img src="images/coin.png" style="width: 30px"><span>Ganas:</span></label>
                                        <label id="QuedaDinero" class="label label-danger center-block" style="font-size: 1.2em; display: none; width: 200px"><img src="images/coin.png" style="width: 30px"><span>Te quedan:</span></label>
                                    </div>
                                    <div>
                                        <input id="suministros" type="text" class="form-control center-block" style="width: 200px">
                                        <br>
                                            <button id="camSuministros" class="btn btn-info">Cambiar</button>
                                            <button id="conSuministros" class="btn btn-info" style="display: none;">Confirmar</button>
                                            <button id="cancelSuministros" class="btn btn-danger" style="display: none;">Cancelar</button>
                                    </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    <!-- POP CUARTEL GENERAL -->

    <div tabindex="-1" class="modal fade" id="pop_cuartel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog pop_gran">
            <div class="modal-content border">
                <div class="modal-body content_gran">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    {{ #each edificios }}
                    <div class="header_gran">

                        <h2>{{ nom }}</h2>
                    </div>
                    {{ /each }}
                    <div id="contingut_modal">
                        <div class="row info_edifici">
                            <div class="col-sm-5 col-sm-offset-1">
                            {{ #each edificios }}
                                <p class="descripcio">{{ descripcion }}</p>
                                <button type="button" class="btn pmd-ripple-effect btn-default btn_modal">SUBIR NIVEL
                            </button>
                            {{ /each }}
                            </div>

                            <div class="col-sm-5">
                            {{#each edificios}}
                                <img src={{avatar}} class="img-responsive img_edifici" >
                            {{/each}}
                            </div>
                        </div>
    <!--panel segundo de inicio juego-->                    
                         <div class="panel panel-default prueba2" style="display:none;position: absolute;left: 5%;top: 35%">
 
                          <div class="panel-body">
                            DINOLAND CONTINUA CON LA AVENTURA!!
                            <br>
                            Necesitaremos un sitio para almacenar nuestros suministros..
                            <br>
                            
                          </div>
                        </div>
                        
    <!--fin panel 2 -->
                        <div class="row" style="margin-left:3%">
                           
                               
                                {{#each edificioTodos}}
                                  
                                        {{#if yaConstruido _id}}
                                        
<!--
                                            <div class="col-sm-2">
                                                <a class="crearEdificio" data-id={{_id}} data-target="#pop_edificio" data-toggle="modal"  type="button"><img src={{avatar}} class="img_admin otro img-circle" style="opacity:0.75;cursor:not-allowed"></a>
                                            </div>
-->
                                            <div class="col-sm-2">
                                              
                                              <a href="#" type="button" class="crearEdificio" data-id={{_id}} data-target="#pop_edificio" data-toggle="popover" title="Costes" data-content={{costeConstrucion}}><img src={{avatar}} class="img_admin otro img-circle"  style="opacity:0.2;cursor:not-allowed"></a>
                                            </div>

                                        
                                            {{else}}
<!--
                                            <div class="col-sm-2">
                                                <a class="crearEdificio" data-id={{_id}} data-target="#pop_edificio" data-toggle="modal"  type="button"><img src={{avatar}} class="img_admin otro img-circle" style="cursor:pointer"></a>
                                            </div>
-->
                                            <div class="col-sm-2">
                                              
                                              <a href="#" type="button" class="crearEdificio" data-id={{_id}} data-target="#pop_edificio" data-toggle="popover" title="Costes" data-content={{costeConstrucion}}><img src={{avatar}} class="img_admin otro img-circle" style="cursor:pointer"></a>
                                            </div>

                                        {{/if}}
                                        
                                   
                                    
                                {{/each}}
                                
                           
                        </div>

                            
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- POP LABORATORIO -->

    <div tabindex="-1" class="modal fade" id="pop_laboratorio" style="display: none;" aria-hidden="true">
        <div class="modal-dialog pop_gran">
            <div class="modal-content border">
                <div class="modal-body content_gran">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    {{ #each edificios }}
                    <div class="header_gran">
                        <h2>{{ nom }}</h2>
                    </div>
                    {{ /each }}
                    <div id="contingut_modal">
                        <div class="row info_edifici">
                            <div class="col-sm-5 col-sm-offset-1">
                            {{ #each edificios }}
                                <p class="descripcio">{{ descripcion }}</p>
                                <button type="button" class="btn pmd-ripple-effect btn-default btn_modal">SUBIR NIVEL
                                </button>
                            {{ /each }}
                            </div>

                            <div class="col-sm-5">
                            {{#each edificios}}
                                <img src={{avatar}} class="img-responsive img_edifici">
                            {{/each}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-1">
                                <a data-target="#pop_investigacion" data-toggle="modal" type="button"><img src="images/lider1.png" class="img_lab"></a>
                            </div>
                            <div class="col-sm-2">
                                <a data-target="#pop_investigacion" data-toggle="modal" type="button"><img src="images/lider1.png" class="img_lab"></a>
                            </div>
                            <div class="col-sm-2">
                                <a data-target="#pop_investigacion" data-toggle="modal" type="button"><img src="images/lider1.png" class="img_lab"></a>
                            </div>
                            <div class="col-sm-2">
                                <a data-target="#pop_investigacion" data-toggle="modal" type="button"><img src="images/lider1.png" class="img_lab"></a>
                            </div>
                            <div class="col-sm-2">
                                <a data-target="#pop_investigacion" data-toggle="modal" type="button"><img src="images/lider1.png" class="img_lab"></a>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>

   

    <!-- POP SOCIAL -->
    <div tabindex="-1" class="modal fade" id="pop_social" style="display: none;" aria-hidden="true">
        <div class="modal-dialog pop_gran">
            <div class="modal-content border">
                <div class="modal-body content_gran">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <div class="header_gran">
                        <h2>SOCIAL</h2>
                    </div>

                    <div id="contingut_modal">
                        <p>Contenido aquí</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="panel panel-default prueba" style="display:none;position: absolute;left: 40%;top: 40%">
 
  <div class="panel-body">
    BENVENIDO A DINOLAND!!
    <br>
    Aqui empieza tu aventura.. Empecemos por construir nuestro Cuartel
    <br>
    <button type="button" class="btn pmd-ripple-effect btn-default btn_modal crear">Edificio Cuartel
    </button>
  </div>
</div>

</div>

<!--
<div id="user">
    <div id="img_perfil">
        
    </div>
   <div id="progress_exp">
            
   </div>
</div>-->

     <div id="dinosaur">
         {{dino}}
     </div>
    

</template>
