<template name="game">

<!--    Si l'usuari està connectat-->
	{{#if currentUser}}
       
<!--       Si l'usuari no està verificat-->
        {{#unless currentUser.emails.[0].verified}}

		<div class="container-fluid">
	         <div class="row">
	         
	              <div class="col-lg-10" id="section">
					<p class="alert alert-warning">Necesitas verificar tu cuenta de correo antes de jugar a Dinoland.
		    		<a href="#" id="resend-verification-link">Enviar email de verificación de nuevo.</a>.</p>
	            </div>
            </div>
        </div>

<!--          Si l'usuari està verificat-->
	  		{{else}}

            <div>
               <div>

               	<!-- Aqui llamamos a la plantilla que va a contener el juego y que sera unica en la pagina-->
		            {{> dinoGame}}

	    	    </div>
	        </div>
        {{/unless}}
        {{else}}

            {{> nolog}}

	    {{/if}}
      
</template>
       