<template name="navbarDinoGame">
    <div class="col-md-2 col-sm-4 sidebar1">
                    <div class="profile-header-container">
                        <div class="profile-header-img">
                            <img class="img-circle" src="images/foto_perfil.jpg">
                            <!-- cercle voltant -->
                            <div class="rank-label-container">
                                <span class="label label-default rank-label">Usuario: {{currentUser.username}}</span>
                            </div>
                        </div>

                        <div class="progress">
                            <div data-percentage="0%" style="width: 20%;" class="progress-bar progress-bar-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <p class="coins">nivel 8 - 856/900 exp</p>
                        <br>
                        <div class="coins">
                            <i class="ionicons ion-egg"></i>
                        </div>
                        <p class="coins">2,342</p>


                    </div>
                    <br>


                    <div>

                        <div class="left-navigation">
                            <ul class="list">
                                <h5><strong>PERFIL</strong></h5>
                                <li><i class="ionicons ion-ios-person"></i>  Mi parque</li>
                                <li><i class="ionicons ion-ios-search-strong"></i>  Expediciones</li>
                                <li><i class="fa fa-envelope-o"></i> Mensajes</li>
                                <li><i class="fa fa-shopping-cart"></i> Mejoras</li>
                                <li><i class="fa fa-bar-chart"></i> Estadísticas</li>
                                <li><i class="ionicons ion-log-out"></i> <a href="{{pathFor 'HomeLogin'}}" id="logout" style="text-decoration:none; color:white;"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Salir</a></li>
                            </ul>
                        </div>
                    </div>

                    <div id="titol_medalles">
                        <p><i class="ionicons ion-ribbon-b"></i> LOGROS</p>
                    </div>

                    <div id="medalles">
                        <div id="content_medalles">
                            <a class="quick-btn" href="#">
                                <i class="fa fa-building fa-2x"></i><br/>
                                <span> Edificios</span>
                                <span class="label label-danger">2</span>
                            </a>

                            <a class="quick-btn" href="#">
                                <i class="fa fa-diamond fa-2x"></i><br/>
                                <span> Ambar</span>
                                <span class="label label-success">500</span>
                            </a>
                            <a class="quick-btn" href="#">
                                <i class="fa fa-search fa-2x"></i><br/>
                                <span> Expediciones</span>
                                <span class="label label-warning">7</span>
                            </a>
                            <a class="quick-btn" href="#">
                                <i class="fa fa-users fa-2x"></i><br/>
                                <span> Visistantes</span>
                                <span class="label btn-metis-4">1000</span>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-md-10 col-sm-8 main-content">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="collapse navbar-collapse" id="myNavbar">
                                <ul class="nav navbar-nav">
                                    <li id="nav_parque" class="navegacio"><a href="{{pathFor 'game'}}" role="button" id="juego">Parque</a></li>
                                    <li id="nav_recursos" class="navegacio"><a href="{{pathFor 'recursos'}}">Recursos</a></li>
                                    <li id="nav_expediciones" class="navegacio"><a href="{{pathFor 'expediciones'}}" role="button" id="recurso">Expediciones</a></li>
                                    <li id="nav_ayuda" class="navegacio"><a href="#">Ayuda</a></li>
                                    <li><a href="{{pathFor 'HomeLogin'}}" role="button" id="home" class="navegacio"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
</template>
