<template name="navbarHome">

 <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		      <ul class="nav navbar-nav navbar-right">
		      	<li><a href="{{pathFor 'HomeLogin'}}" role="button" id="home"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a></li>
		      	<li><a href="{{pathFor 'proyecto'}}" role="button" id="proyecto"><span class="glyphicon glyphicon-th"></span>&nbsp;El proyecto</a></li>
		        <li><a href="#"><span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;Comunidad</a></li>
		        <li><a href="#"><span class="glyphicon glyphicon-cog"></span>&nbsp;Asistencia</a></li>
		        <li><a href="#">Contacto</a></li>


		    {{#if currentUser}}
		        <li><a href="{{pathFor 'game'}}" role="button" id="juego"><span class="glyphicon glyphicon-off"></span>&nbsp;{{_ "game" lang="en"}} <span class="sr-only">(current)</span></a></li>

		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span>&nbsp;Usuario: {{currentUser.username}} <span class="caret"></span></a>

		          <ul class="dropdown-menu">
		            <li><a href="#">Editar Perfil</a></li>
		            <li><a href="#">Mensajes</a></li>
		            <li><a href="#">Notificaciones</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="{{pathFor 'HomeLogin'}}" id="logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp; Cerrar Sesión</a></li>
		          </ul>
		        </li>

		    {{/if}}
		        </ul>

		    </div><!-- /.navbar-collapse -->

</template>
